<!-- </br><h3 style="position: relative;left: 275px;"ss>Create your own service bot and launch it in hours!.</h3></br>  Welcome to the Datamorphix service bot framework with the easy to use interface to create your own service bots without the need for technical resources for the line of business that you are part of it.</br></br>
Features of the Datamorphix Service bot framework</br></br>
<c style="position: relative;left: 75px;">
a.	An easy to use UI for sign up </br>
b.	Easy to use UI for scraping the website to understand the products and services </br>
c.	Build your own service bot with an easy to use framework </br>
d.	Launch the service bot to the web site</br>
e.	Integrate with your enterprise systems with ready to use web services</br> </br></c>

The icing on the cake is the price at which all this is available to you . Please click the following link to subscribe or contact us for more info</br>
</br>
</br> -->

</br><h3 style="position: relative;left: 275px;"ss>Welcome to the Datamorphix Chat Bot Services</h3></br>  We create state of the art of Chat Bots that can interact with your enterprise databases in a safe and secure manner. We offer a 5 step model that is easy to embrace.</br></br>
<img  style="position: relative;left: 280px;height:120px;" src="/images/Webp.gif"></br></br>
Business benefits :</br>

<c style="position: relative;left: 75px;" ><h6>
    
<ul id="myList">
   <li class = "initSlide"><img src="/images/bullet.png" style="position: relative;bottom: 4px;">	Reduce the number of calls to Service Center - 30% of the customer calls are for information as Web sites are cumbersome to navigate</li>
   <li  class = "initSlide"><img src="/images/bullet.png" style="position: relative;bottom: 4px;">	Engage the visitors and customers with an Intelligent Assistant - A Differentiated customer experience that can improve service satisfaction </li>
   <li  class = "initSlide"><img src="/images/bullet.png" style="position: relative;bottom: 4px;">	Provide information within seconds – Reduce the cost of operations by 20%</li>
   <li  class = "initSlide">
       <img src="/images/bullet.png" style="position: relative;bottom: 4px;"> Integrate with your enterprise systems with ready to use services
    </li>
    <li class = "initSlide">
        <img src="/images/bullet.png" style="position: relative;bottom: 4px;"> Launch your concept within 45 days 
    </li>
</ul>
    
<script>
    $("#myList li").each(function(i, li) {
    var $list = $(this).closest('ul');
    $list.delay(500).queue(function() {
        $(li).removeClass("initSlide");
        $(li).addClass('textSlide');
        $list.dequeue();
    });
});
        </script>    

</h6></c>

The icing on the cake is the price at which all this is available to you.</br></br>

Click the following link to subscribe or contact us for more info :</br>
</br>
</br>

<div style="position:relative;left:280px;">
<button class="login_btn" type="submit" ng-click="vm.Subscribe();">Subscribe</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
<button class="login_btn" type="submit" ng-click="vm.ContactUS();">Contact Us</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
<button class="login_btn" type="submit" ng-click="vm.SampleBOT();">Sample BOT</button></div></br>
</br>