<h1>Info BOTS</h1>



	
  <p> Choose your specific bot</p>
  <div class="form-group">
    


    	<!-- <div class="dropdown">
		  <button class="dropbtn">Types Of Information Bots</button>
		  <div class="dropdown-content">
		    <a href="" ng-click="showme=true">Personal Banking</a>
		    <a href="#/infostore">Corporate Banking</a>
		    <a href="#/infostore">Agricultural/Rural Banking </a>
		  </div>
		</div> -->
		<!-- <div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Information BOTS
		    <span class="caret"></span></button>
		    <ul class="dropdown-menu">
		      <li><a href="" ng-click="showme=true">Personal Banking</a></li>
		      <li><a href="">Corporate Banking</a></li>
		      <li><a href="">Agricultural/Rural Banking</a></li>
		    </ul>
		  </div> -->
		

			<!-- <button ng-click="vm.toggle()">Show user</button> -->

			<!-- <div ng-show="showme"></br></br> -->
			<div>Types Of BOTS That Are Avaliable</div>
			<div>
				<table>
					<!-- <tr>
						<td><h2> Sub-Categories </h2></td>
						
					</tr> --> 
					<tr>
						
						<td><label for="url" class="btn btn-success" ng-click='vm.personal()'>Personal Banking</label></td> 
						<tb class=""></td>
						<td><label for="url" class="btn btn-success">Corporate Banking</label></td> 
						<tb class=""></td>
						<td><label for="url" class="btn btn-success">Agricultural/Rural Banking</label></td>

					</tr><!-- <div class="al_1" ng-show="test">
					<input  type="file" id="myFileInput" name="file"></input></br>
 <button class="btn btn-success" ng-click="submit()">Upload</button></div> -->

 <!-- <h1>
    Filename: {{ fileName }}
  </h1>
  <h2>
    File size: {{ fileSize }} Bytes
  </h2>
  <h2>
    File Content: {{ fileContent }}
  </h2> -->
 					<!-- <input type="file" name="myfile" />
 					<input type="submit" name="submit" value="submit"> -->
					
					<tr>

					</tr>

				</table>
				<div class="al_1" ng-show="test">
					<input  type="file" id="myFileInput" name="file"></input></br>
 <button class="btn btn-success" ng-click="submit()">Upload</button></div>
			</div>
			
		<!-- </div> -->
		
		<!-- <tr>
			<td><h2> Bot Type </h2></td>
			<th> Bot Services</th> 
		</tr> 
		<tr>
			<td class="btn btn_normal">Information BOTS</td>
			<td><label for="url" class="btn btn-success">Personal Banking</label></td> 
		</tr>
		<tr><tb class="">     </td></tr>
		<tr>
			<td class="btn btn_normal">Support BOTS</td>
			<td><label for="url" class="btn btn-success">Track Tickets</label></td> 
		</tr> -->

	
	
  </div>
  
  
