<h1>Info BOTS</h1>
<div ng-if="vm.error" class="alert alert-danger" role="alert">
  {{ vm.error }}
</div>


	
  <!-- <p> Choose your specific bot</p> -->
  <div class="form-group">
    


    	<!-- <div class="dropdown">
		  <button class="dropbtn">Types Of Information Bots</button>
		  <div class="dropdown-content">
		    <a href="" ng-click="showme=true">Personal Banking</a>
		    <a href="#/infostore">Corporate Banking</a>
		    <a href="#/infostore">Agricultural/Rural Banking </a>
		  </div>
		</div> -->
		<!-- <div class="dropdown">
		    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Information BOTS
		    <span class="caret"></span></button>
		    <ul class="dropdown-menu">
		      <li><a href="" ng-click="showme=true">Personal Banking</a></li>
		      <li><a href="">Corporate Banking</a></li>
		      <li><a href="">Agricultural/Rural Banking</a></li>
		    </ul>
		  </div> -->
		

			<!-- <button ng-click="vm.toggle()">Show user</button> -->

			<!-- <div ng-show="showme"></br></br> -->
			<div>Types Of BOTS That Are Avaliable</div></br></br>
			<div>
				
				<button type="submit" class="login_btn" ng-click="vm.personal()">Personal Banking</button></br></br>
				<button type="submit" class="login_btn"  >Corporate Banking</button>  </br></br>
				<button type="submit" class="login_btn"  >Agricultural/Rural Banking</button>
			
			
				<!-- <table>
					
					<tr>
						
						<td><label for="url" class="btn btn-success" ng-click='vm.personal()'>Personal Banking</label></td> 
						<tb class=""></td>
						<td><label for="url" class="btn btn-success">Corporate Banking</label></td> 
						<tb class=""></td>
						<td><label for="url" class="btn btn-success">Agricultural/Rural Banking</label></td>

					</tr>
					
					<tr>

					</tr>

				</table> -->
				
				<!-- <div class="al_1" ng-show="test">
					<input  type="file" id="myFileInput" name="file"></input></br>
 <button class="login_btn" ng-click="submit()">Upload</button></div>
			</div> -->


			<!-- <div class="al_1" ng-show="test">
					<input  type="file" id="myFileInput" name="file"></input></br>
 <button class="btn btn-success" ng-click="submit()">Upload</button></div> -->

 <!-- <h1>
    Filename: {{ fileName }}
  </h1>
  <h2>
    File size: {{ fileSize }} Bytes
  </h2>
  <h2>
    File Content: {{ fileContent }}
  </h2> -->
 					<!-- <input type="file" name="myfile" />
 					<input type="submit" name="submit" value="submit"> -->




		<!-- </div> -->
		
		<!-- <tr>
			<td><h2> Bot Type </h2></td>
			<th> Bot Services</th> 
		</tr> 
		<tr>
			<td class="btn btn_normal">Information BOTS</td>
			<td><label for="url" class="btn btn-success">Personal Banking</label></td> 
		</tr>
		<tr><tb class="">     </td></tr>
		<tr>
			<td class="btn btn_normal">Support BOTS</td>
			<td><label for="url" class="btn btn-success">Track Tickets</label></td> 
		</tr> -->

	
	
  </div>
  <div class="animate" ng-show="popup" style="position:absolute;top:10%;left:85%;"><!-- <button class="login_btn w3-button w3-green w3-round-large" title="This is to close the current module 
  	This is to close the current module 
  	This is to close the current module" ng-click="save()">Close</button> --><button title="This is to save the current module and exit" class="login_btn w3-button w3-green w3-round-large" ng-click="save()">Save & Exit</button></div>
  <div  ng-show="popup"><iframe id="myFrame" class="iframe_popup" src="https://dashboard.motion.ai/bots/37205"></iframe></div>
  
<div id="module_script" class="modal1 ">
  
  <form class="modal-content1 animate" ng-click='validate()' ng-submit="vm.submit_script()">
    <div class="imgcontainer">
      <span  onclick="document.getElementById('module_script').style.display='none'" ng-click="vm.clear()" class="close" title="Close"> &times;</span>
      
    </div>

    <div class="container">
    	<label style="position:relative; top:15px;" class="lbl_popup"><b>Javascript</b></label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     <input style="position:relative; top:15px;" type="text" placeholder="Copy & Paste Javascript" ng-model="vm.javascript" required>&nbsp&nbsp <img style="position: relative;top:12px;" title="Copy & Paste the java Script code 
from webchat tab from Top-Right Tab 
in the module" style="position:relative;" src="/images/tooltip.png"><br></br>
              <br></br>
      
      
   
    </div>

    <div class="container_login" style="background-color:#f1f1f1">
      <button type="submit" style="left:150px" class="rgstr_btn">Submit Javascript</button>
      <!-- <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> -->
      <!-- <span class="psw"><a href="#">Forgot password?</a></span> -->
    </div>
  </form>
</div>
