<h1>Change Password</h1></br></br>
<div ng-if="vm.message" class="alert alert-success" role="alert">
  <p>{{ vm.message }}</p>
</div>
<div ng-if="vm.error" class="alert alert-danger" role="alert">
  {{ vm.error }}
</div>
<form ng-hide="vm.message" name="register"  ng-submit="vm.change_password()">
  
  <div class="form-group">
    <!-- <label class="lbl_popup" style="color:white"><b>Current Password</b></label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
      <input type="password" placeholder="Enter Current Password" placeholder="Password" ng-model="vm.current_password" required><br></br>
 -->   <label class="lbl_popup" style="color:white"><b>New Password</b></label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
      <input type="password" placeholder="Enter Password" placeholder="Password" ng-model="vm.chng_password" required><br></br>
      <label class="lbl_popup" style="position:relative; top:10px;color:white"><b>Repeat Password</b></label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
      <input type="password" placeholder="Repeat Password" placeholder="Password" ng-model="vm.chng_passwordRepeat" required><br></br>
  </div>
  
  
  <button type="submit" class="send_btn">Submit</button>
</form>


<div id="reset_passwrd" class="modal1 ">
  
  <form class="modal-content1 animate" ng-submit="vm.reset_login()">
    <div class="imgcontainer">
      <span onclick="document.getElementById('reset_passwrd').style.display='none'" ng-click="vm.clear(); vm.reset_login();" class="close" title="Close">&times;</span>
      
    </div></br></br></br>

    <div  class="w3-button w3-green w3-round-xlarge success_btn_popup" style="left:10px;"  role="alert">
       <p>{{ 'Successfully Password is changed...Now You Can Login By ' }}<a href="#" style="color:#df691a" ng-click="vm.redirect()">Clicking here</a></p>
    </div></br></br></br>

<!--     <div class="container">
      <label class="lbl_popup"><b>Username</b></label>
      <input type="text" placeholder="Enter Username"  ng-model="vm.username" required><br></br>

      <label class="lbl_popup"><b>Password</b></label>
      <input type="password" placeholder="Enter Password"  ng-model="vm.password" required>
      <div ng-if="vm.error" class="error_lgn" role="alert">
  {{ vm.error }}
</div>        <br></br>
      
      
   
    </div> -->

<!--     <div class="container_login" style="background-color:#f1f1f1">
      <button type="submit" class="login_btn" style="position: relative;left: 95px;">Login</button>
      
      <span class="psw"><a href="#">Forgot password?</a></span>
    </div> -->
  </form>
</div>