<!-- <form ng-if="!vm.isLoggedIn()" class="navbar-form navbar-right" role="login" ng-submit="vm.login()" ng-init="vm.init()">
	<div class="form-group" ng-class="{'has-error': vm.error}">
		<input type="text" class="form-control input-sm" placeholder="Username" ng-model="vm.username" autocapitalize="none">
	</div>
	<br><br>
	<div class="form-group" ng-class="{'has-error': vm.error}">
  		<input type="password" class="form-control input-sm" placeholder="Password" ng-model="vm.password" autocapitalize="none">
	</div>
	<br><br>
	<button type="submit" class="btn btn-sm btn-success">Login</button>
</form> -->