<h1>Building a BOT</h1>
<div  class="alert alert-success" role="alert">
  <p>{{ 'Successfully Submitted...We will understand your bussiness!!!' }}</p>
</div>

	</br></br>
	<h2> Bot Type </h2></br>

	<button type="submit" class="btn btn_normal" ng-click="vm.infoBot()">Information BOTS</button></br></br></br>
	<button type="submit" class="btn btn_normal"ng-click="vm.supportBot()">Support BOTS</button>  
	<!-- <table>
		<tr>
			<td><h2> Bot Type </h2></td>
			<th> Bot Services</th> 
		</tr> 
		<tr>
			<td class="btn btn_normal">Information BOTS</td>
			<td><label for="url" class="btn btn-success">Personal Banking</label></td> 
		</tr>
		<tr><tb class="">     </td></tr>
		<tr>
			<td class="btn btn_normal">Support BOTS</td>
			<td><label for="url" class="btn btn-success">Track Tickets</label></td> 
		</tr>


	</table> -->
  




  <!-- <div class="form-group">
    <label for="url">Information BOTS</label>
    <button type="submit" class="btn btn-success">Scrape</button>
  </div>
  <div class="form-group">
    <label for="url">Support BOTS</label>
    <button type="submit" class="btn btn-success">Scrape</button>
  </div> -->
  
