</br></br>
<div class="module_btn" ><div style="padding-left:32em ">
<!-- <button id="get_site_info" type="submit" class="module_btn" ng-click="vm.get_site_info()" style="background-color:#458B00;width:160px;">Get Site Info</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
<button id="create_bot" type="submit" class="module_btn"ng-click="vm.supportBot()" style="background-color:#458B00;width:160px;">Create Bot</button> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  -->
<!-- <button id="test_nav" type="submit" class="module_btn" ng-click="vm.test_deploy()" style="background-color:#458B00;width:160px;">Test</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  -->
<button id="deploy_nav" type="submit" class="module_btn" style="background-color:#e9970f;width:160px;">Deploy</button>   
</div></div>
</br></br>



<h2>
Place the below Java-Script data after the <img src="/images/body.png"> In your Web-Site main page. 
</h2>
</br>
</br></br>
</br>
<textarea rows="5" type="text"  name="message" ng-readonly=true required="required" ng-init="vm.test()" ng-model="vm.MesSage" maxlength="1000" style="
    border-radius: 5px;
    width: 600px;"></textarea>

<!-- <div style="position:relative;width:500px;height:200px;"> 
<img src="/images/deploy.png">
</div> -->
</br>
</br>